### Goals
- find common stats between states
- combine useful information between schools for analysis

In [1]:
import os

import pandas as pd

In [2]:
# denormalize nys school-level data
nys_grad_rate = pd.read_csv('../prepared_data/nys_grad_rate.csv')

In [4]:
# 4 year results for all students for every school
nys_grad_rate_by_school = nys_grad_rate[
    (nys_grad_rate['AGGREGATION_TYPE'] == 'School') & 
    (nys_grad_rate['SUBGROUP_NAME'] == 'All Students') &
    (nys_grad_rate['MEMBERSHIP_DESC'] == '2013 Total Cohort - 4 Year Outcome') 
]
# note: a few schools are still in here twice. also, there is at least
# one case of 2 schools with the same name (BEACON HIGH SCHOOL)
nys_grad_rate_by_school.drop_duplicates(inplace=True)

/Users/josh.laurito/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [5]:
# nys report card data tables
nys_reportcard_tables = [x for x in os.listdir('../prepared_data/') if x.find('nys_report') > -1]

In [240]:
# function to define whether a row is school-level data
def is_school(entity_cd):
    id_string = str(entity_cd)
    if len(id_string) < 12:
        return False
    elif id_string[-4:] == '0000':
        return False
    elif id_string == '111111111111':
        return False
    else:
        return True

# function to generate a shortname from tablename:
def shortname(s):
    _ = s.lower()
    strings_to_replace= ['(',')','&','-','nys_reportcard_','.csv','results']
    for st in strings_to_replace:
        _ = _.replace(st, '')
    _ = '_'.join(_.split('_')[:4])
    if _[-1] == '_':
        _ = _[:-1]
    return _

# function to see if item is in list
def list_contains(my_list, item):
    try:
        my_list.index(item)
        return True
    except ValueError:
        return False

In [254]:
# denormalize NYS reportcard data
tables_to_skip = [
    'new_york_state_alternate',
    'accountability',
    'regents_examination_annual',
    'nyseslat_annual',
    'regents_competency_test_rct',
    'regents_common_core_examination',
    'recently_arrived_ell_students'
]

if 'nys_denormalized' in vars():
    del nys_denormalized

for t in nys_reportcard_tables:
    table_shortname = shortname(t)
    _df = pd.read_csv('../prepared_data/' + t)
    
    # logic to account for naming inconsistencies
    # and only gathering school-level data and
    # all-student data when appropriate
    if table_shortname == 'accountability':
        _df.rename( columns={'ACC_YEAR': 'YEAR', 'ACC_NAME': 'SUBGROUP_NAME'}, inplace=True)
    if table_shortname == 'institution_grouping' or table_shortname[:13] == 'total_cohort_':
        _df['YEAR'] = 2016
    if table_shortname[:13] == 'total_cohort_':
        single_cohort = _df[_df['COHORT'] == 2013]
        if len(single_cohort) > 0:
            _df = single_cohort
        else:
            _df = _df[_df['COHORT'] == 2012]
    if table_shortname == 'boces_and_nrc' or table_shortname == 'staff':
        _df.rename( columns={'SCHOOL_NAME': 'ENTITY_NAME'}, inplace=True)
    if _df.columns.contains('SUBGROUP_NAME'):
        _df = _df[_df['SUBGROUP_NAME'] == 'All Students']
        _df.drop('SUBGROUP_NAME', axis=1, inplace = True)
        
    # data cleaning for all tables
    _df = _df[_df['ENTITY_CD'].apply(lambda x: is_school(x))]
    _df = _df[_df['YEAR'] == 2016]
    _df.drop_duplicates(inplace=True)
    
    # initialization and table skipping
    if 'nys_denormalized' not in vars():
        nys_denormalized = _df
        print('initializing table with ' + table_shortname)
    elif list_contains(tables_to_skip, table_shortname):
        print('skipping table ' + table_shortname)
    else:
        print('trying to join ' + table_shortname )
        _tmp = nys_denormalized.merge(
            right = _df, 
            how = 'outer',
            on = ['ENTITY_CD','ENTITY_NAME', 'YEAR'],
            suffixes = ['', '_' + table_shortname]
        )
        nys_denormalized = _tmp
    del _df
print('all tables joined!')

initializing table with science8_subgroup
trying to join total_cohort_global_hist
trying to join attendance_and_suspensions

/Users/josh.laurito/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

skipping table new_york_state_alternate
trying to join institution_grouping
skipping table regents_examination_annual
trying to join boces_and_nrc

/Users/josh.laurito/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (6,7,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

skipping table accountability
trying to join ela5_subgroup
trying to join total_cohort_us_hist
trying to join math8_subgroup
trying to join math7_subgroup
trying to join average_class_size
skipping table nyseslat_annual
trying to join ela4_subgroup
trying to join beds_day_enrollment_by
trying to join math3_subgroup
trying to join math6_subgroup
trying to join math5_subgroup
skipping table regents_competency_test_rct
trying to join staff
trying to join ela8_subgroup
trying to join ela7_subgroup
trying to join total_cohort_graduation_rate
trying to join high_school_postgraduation_plans
trying to join beds_day_enrollment
trying to join math4_subgroup
trying to join demographic_factors
trying to join high_school_completers
skipping table regents_common_core_examination
skipping table recently_arrived_ell_students
trying to join ela6_subgroup
trying to join science4_subgroup
trying to join ela3_subgroup
trying to join total_cohort_ela_subgroup
trying to join total_cohort_science_subgroup
trying to join high_school_noncompleters
trying to join total_cohort_math_subgroup
all tables joined!

In [255]:
#_df = pd.read_csv('../prepared_data/nys_reportcard_Total_Cohort_Graduation_Rate_for_Advanced_Students.csv')
#nys_denormalized[nys_denormalized['ENTITY_NAME'] =='ESPERANZA PREPATORY ACADEMY'].to_csv('tmp.csv')
#nys_denormalized.head().iloc[2][60:100]

In [244]:
nys_denormalized.columns

Index(['ENTITY_CD', 'ENTITY_NAME', 'YEAR', 'NUM_TESTED', 'LEVEL1_COUNT',
       'LEVEL1_%TESTED', 'LEVEL2_COUNT', 'LEVEL2_%TESTED', 'LEVEL3_COUNT',
       'LEVEL3_%TESTED',
       ...
       'LEVEL1_COUNT_total_cohort_math_subgroup',
       'LEVEL1_%COHORT_total_cohort_math_subgroup',
       'LEVEL2_COUNT_total_cohort_math_subgroup',
       'LEVEL2_%COHORT_total_cohort_math_subgroup',
       'LEVEL3_COUNT_total_cohort_math_subgroup',
       'LEVEL3_%COHORT_total_cohort_math_subgroup',
       'LEVEL4_COUNT_total_cohort_math_subgroup',
       'LEVEL4_%COHORT_total_cohort_math_subgroup',
       'NOT_TESTED_total_cohort_math_subgroup',
       'NOT_TESTED_%COHORT_total_cohort_math_subgroup'],
      dtype='object', length=388)

In [256]:
nys_denormalized['ENTITY_NAME'].value_counts().head(5)

JOHN F KENNEDY MIDDLE SCHOOL    4
PARK AVENUE SCHOOL              4
JOHN F KENNEDY SCHOOL           4
LINCOLN SCHOOL                  3
GEORGE WASHINGTON SCHOOL        3
Name: ENTITY_NAME, dtype: int64

## Done with NYS, Now switching to NJ
- note: skipped all regents & accountability #s for NY, may come back to them
- also didn't us NY grad rate data, assume it's in the report card data as well.
- also didn't use NYC stats

In [188]:
# nj tables
nj_tables = [x for x in os.listdir('../prepared_data/') if x.find('nj_') > -1]

In [190]:
# re-define function to generate a shortname from tablename:
def shortname(s, kind ='nys'):
    if kind == 'nys':
        _ = s.lower()
        strings_to_replace= ['(',')','&','-','nys_reportcard_','.csv','results']
        for st in strings_to_replace:
            _ = _.replace(st, '')
        _ = '_'.join(_.split('_')[:4])
        if _[-1] == '_':
            _ = _[:-1]
        return _
    elif kind == 'nj':
        strings_to_replace= ['nj_','.csv']
        for st in strings_to_replace:
            s = s.replace(st, '')
        return s

In [ ]:
if 'nj_denormalized' in vars():
    del nj_denormalized

tables_to_skip = [
    'SchoolHeader',
    'EnrollmentTrendsByStudentGroup',
    'EnrollmentByRacialEthnicGroup',
    'AlternateAssessmentParticipatio',
    'EnglishLanguageProficiencyTest',
    'NJASKScience',
    'StudentGrowth',
    'StudentGrowthByPerformLevel',
    'StudentGrowthByGrade',
    'CTE_SLEParticipation',
    'APIBCourseworkPartPerf',
    'IndustryValuedCredentialsEarned',
    'MathCourseParticipation',
    'ScienceCourseParticipation',
    'SocStudiesHistoryCourseParticip',
    'WorldLanguagesCourseParticipati',
    'VisualAndPerformingArts',
    
    
]

# init with school names
nj_denormalized = pd.read_csv('../prepared_data/nj_SchoolHeader.csv')

for t in nj_tables:
    table_shortname = shortname(t)
    _df = pd.read_csv('../prepared_data/' + t)
    _df.rename( columns={
        'StudentGroup': 'Student Group', 
        'CountyCode': 'County Code',
        'DistrictCode': 'District Code',
        'SchoolCode': 'School Code',
        'Grade_Subject': 'Grade Subject',
        'Course_Name': 'Course Name',
        'School_Avg': 'School Avg'
    }, inplace=True)
    
    # logic to filter down to schoolwide performance
    if list_contains(_df.columns, 'Student Group'):
        _df = _df[_df['Student Group']=='Schoolwide']
        _df.drop('StudentGroup', axis=1, inplace=True)
    
    # table-specific logic
    if table_shortname[-20:] == 'ParticipationPerform':
        _df = _df[['County Code','District Code','School Code', 'Subject', 'School Performance']]
    
    if table_shortname[-18:] == 'PerformanceByGrade':
        _df = _df[['County Code','District Code','School Code', 'Grade', 'Mean Score']]
        
    if table_shortname[-17:] =='PerformanceTrends':
        _df = _df[['County Code','District Code','School Code', 'Subject', 'MetExcExpPerc']]
        
    if table_shortname == 'PSAT-SAT-ACTPerformance':
        _df['Test Subject'] == _df[['Test', 'Subject']].apply(lambda x: x[0] + ' - ' + x[1], axis = 1)
        _df = _df[['County Code','District Code','School Code', 'Test Subject', 'School Avg']]
        
    if table_shortname == 'APIBCoursesOffered':
        _df = _df[
            ['County Code','District Code','School Code', 'Course Name']
        ][_df['STUDENT_ENROLL_COUNT'] >0].groupby(
            ['County Code','District Code','School Code']
        ).count().reset_index()
        
    # logic to unstack common table pattern:
    if table_shortname != 'PSAT-SAT-ACTParticipation':
        pivot_by = _df.columns[3]
        value_by = _df.columns[4]
            _df = _df.pivot_table(
            values = value_by, 
            index = ['County Code','District Code','School Code'], 
            columns=[pivot_by]
        ).reset_index()

    # data cleaning for all tables
    _df.drop_duplicates(inplace=True)
    
    # table skipping
    if list_contains(tables_to_skip, table_shortname):
        print('skipping table ' + table_shortname)
    else:
        print('trying to join ' + table_shortname )
        _tmp = nj_denormalized.merge(
            right = _df, 
            how = 'outer',
            on = ['County Code','District Code','School Code'],
            suffixes = ['', '_' + table_shortname]
        )
        nj_denormalized = _tmp
    del _df
print('all tables joined!')

In [339]:
_df = pd.read_csv('../prepared_data/nj_APIBCoursesOffered.csv')

In [351]:
#_df.head(10)
#_df['Subject'].value_counts()
_df[
    ['CountyCode','DistrictCode','SchoolCode', 'Course_Name']
][_df['STUDENT_ENROLL_COUNT'] >0].groupby(
    ['CountyCode','DistrictCode','SchoolCode']
).count().reset_index()

     CountyCode  DistrictCode  SchoolCode  Course_Name
0             1           110          10           14
1             1           120          10            9
2             1           590          25            6
3             1          1310           5           24
4             1          1790          40           18
5             1          1790          50           14
6             1          1790          60           12
7             1          1960          50           11
8             1          2910          50           23
9             1          4180          50            7
10            3           290          20           25
11            3           290          70           18
12            3           300          20           23
13            3           440          20            6
14            3           745          50            9
15            3           890          30            5
16            3           990          40           13
17            3          1130          40           14
18            3          1345          50            8
19            3          1360          50           11
20            3          1370          40           14
21            3          1450          50           22
22            3          1550          50           21
23            3          1700          50            5
24            3          1760          50           20
25            3          1860          50           19
26            3          2080          50           12
27            3          2620          50           19
28            3          2740          50           10
29            3          2860          50           12
..          ...           ...         ...          ...
364          39          5260          20           12
365          39          5260          30           16
366          39          5260          35            3
367          39          5260          40           14
368          39          5260          50           14
369          39          5290          50           16
370          39          5730          50           16
371          41           280          20            8
372          41          1870          50           10
373          41          3675          50           16
374          41          4100          50           20
375          41          5460          50            5
376          41          5465          50           12
377          80          6010         910            2
378          80          6013         900           11
379          80          6017         932            2
380          80          6018         900           17
381          80          6032         901            5
382          80          6033         902            1
383          80          6053         917            4
384          80          6057         938            1
385          80          6080         966            3
386          80          6107         998           10
387          80          6720         930            2
388          80          7109         931            1
389          80          7320         960           10
390          80          7325         965            9
391          80          7410         940            4
392          80          7503         970            7
393          80          8060         990            3

[394 rows x 4 columns]

In [316]:
nys_denormalized.iloc[6][350:]

LEVEL4_COUNT_total_cohort_science_subgroup             8
LEVEL4_%COHORT_total_cohort_science_subgroup          25
NOT_TESTED_total_cohort_science_subgroup               0
NOT_TESTED_%COHORT_total_cohort_science_subgroup      00
DROPOUT                                                s
PER_DROPOUT                                            s
EQUIV                                                  s
PER_EQUIV                                              s
TOTALNON                                               s
PER_TOTALNON                                           s
TOTAL_ENROLLMENT_BASE                                142
COHORT_total_cohort_math_subgroup                   2013
COHORT_COUNT_total_cohort_math_subgroup               32
LEVEL1_COUNT_total_cohort_math_subgroup                0
LEVEL1_%COHORT_total_cohort_math_subgroup             00
LEVEL2_COUNT_total_cohort_math_subgroup                0
LEVEL2_%COHORT_total_cohort_math_subgroup             00
LEVEL3_COUNT_total_cohort_math_subgroup               28
LEVEL3_%COHORT_total_cohort_math_subgroup             88
LEVEL4_COUNT_total_cohort_math_subgroup                4
LEVEL4_%COHORT_total_cohort_math_subgroup             13
NOT_TESTED_total_cohort_math_subgroup                  0
NOT_TESTED_%COHORT_total_cohort_math_subgroup         00
Name: 6, dtype: object

In [327]:
'MathPerformanceTrends'[-17:]

'PerformanceTrends'