### Goals
- find common stats between states
- combine useful information between schools for analysis

In [37]:
import os

import numpy as np
import pandas as pd

In [2]:
# denormalize nys school-level data
nys_grad_rate = pd.read_csv('../prepared_data/nys_grad_rate.csv')

In [3]:
# 4 year results for all students for every school
nys_grad_rate_by_school = nys_grad_rate[
    (nys_grad_rate['AGGREGATION_TYPE'] == 'School') & 
    (nys_grad_rate['SUBGROUP_NAME'] == 'All Students') &
    (nys_grad_rate['MEMBERSHIP_DESC'] == '2013 Total Cohort - 4 Year Outcome') 
]
# note: a few schools are still in here twice. also, there is at least
# one case of 2 schools with the same name (BEACON HIGH SCHOOL)
nys_grad_rate_by_school.drop_duplicates(inplace=True)

/Users/josh.laurito/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [4]:
# nys report card data tables
nys_reportcard_tables = [x for x in os.listdir('../prepared_data/') if x.find('nys_report') > -1]

In [59]:
# function to define whether a row is school-level data
def is_school(entity_cd):
    id_string = str(entity_cd)
    if len(id_string) < 12:
        return False
    elif id_string[-4:] == '0000':
        return False
    elif id_string == '111111111111':
        return False
    else:
        return True

# function to generate a shortname from tablename:
def shortname(s):
    _ = s.lower()
    strings_to_replace= ['(',')','&','-','nys_reportcard_','.csv','results']
    for st in strings_to_replace:
        _ = _.replace(st, '')
    _ = '_'.join(_.split('_')[:4])
    if _[-1] == '_':
        _ = _[:-1]
    return _

# function to see if item is in list
def list_contains(my_list, item):
    try:
        my_list.index(item)
        return True
    except ValueError:
        return False

In [60]:
# denormalize NYS reportcard data
tables_to_skip = [
    'new_york_state_alternate',
    'regents_examination_annual',
    'nyseslat_annual',
    'regents_competency_test_rct',
    'regents_common_core_examination',
    'recently_arrived_ell_students'
]

if 'nys_denormalized' in vars():
    del nys_denormalized

for t in nys_reportcard_tables:
    table_shortname = shortname(t)
    _df = pd.read_csv('../prepared_data/' + t)
    
    # logic to account for naming inconsistencies
    # and only gathering school-level data and
    # all-student data when appropriate
    if table_shortname == 'accountability':
        _df.rename( columns={'ACC_YEAR': 'YEAR', 'ACC_NAME': 'SUBGROUP_NAME'}, inplace=True)
        _df = _df[['ENTITY_CD','ENTITY_NAME', 'YEAR','SUBGROUP_NAME', 'ACCOUNTABILITYMEASURE', 'PI_G_RATE']]
        _df = _df[_df['ENTITY_CD'].apply(lambda x: is_school(x))]
        _df = _df[_df['YEAR'] == 2016]
        _df = _df[(_df['ACCOUNTABILITYMEASURE'] == '5-Year Graduation Rate') | 
                  (_df['ACCOUNTABILITYMEASURE'] =='4-Year Graduation Rate')
        ]
        _df = _df[_df['SUBGROUP_NAME'] == 'All Students']
        _df.drop('SUBGROUP_NAME', axis=1, inplace = True)        
        _df['PI_G_RATE'] = pd.to_numeric(_df['PI_G_RATE'].replace('s', np.nan))
        _df = _df.pivot_table(
            values = 'PI_G_RATE', 
            index = ['ENTITY_CD','ENTITY_NAME', 'YEAR'], 
            columns=['ACCOUNTABILITYMEASURE']
        ).reset_index()
        
    if table_shortname == 'institution_grouping' or table_shortname[:13] == 'total_cohort_':
        _df['YEAR'] = 2016
    if table_shortname[:13] == 'total_cohort_':
        single_cohort = _df[_df['COHORT'] == 2013]
        if len(single_cohort) > 0:
            _df = single_cohort
        else:
            _df = _df[_df['COHORT'] == 2012]
    if table_shortname == 'boces_and_nrc' or table_shortname == 'staff':
        _df.rename( columns={'SCHOOL_NAME': 'ENTITY_NAME'}, inplace=True)
    if _df.columns.contains('SUBGROUP_NAME'):
        _df = _df[_df['SUBGROUP_NAME'] == 'All Students']
        _df.drop('SUBGROUP_NAME', axis=1, inplace = True)
        
    # data cleaning for all tables
    _df = _df[_df['ENTITY_CD'].apply(lambda x: is_school(x))]
    _df = _df[_df['YEAR'] == 2016]
    _df.drop_duplicates(inplace=True)
    
    # initialization and table skipping
    if 'nys_denormalized' not in vars():
        nys_denormalized = _df
        print('initializing table with ' + table_shortname)
    elif list_contains(tables_to_skip, table_shortname):
        print('skipping table ' + table_shortname)
    else:
        print('trying to join ' + table_shortname )
        _tmp = nys_denormalized.merge(
            right = _df, 
            how = 'outer',
            on = ['ENTITY_CD','ENTITY_NAME', 'YEAR'],
            suffixes = ['', '_' + table_shortname]
        )
        nys_denormalized = _tmp
    del _df
print('all tables joined!')

initializing table with science8_subgroup
trying to join total_cohort_global_hist
trying to join attendance_and_suspensions

/Users/josh.laurito/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

skipping table new_york_state_alternate
trying to join institution_grouping
skipping table regents_examination_annual
trying to join boces_and_nrc

/Users/josh.laurito/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (6,7,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

trying to join accountability
trying to join ela5_subgroup
trying to join total_cohort_us_hist
trying to join math8_subgroup
trying to join math7_subgroup
trying to join average_class_size
skipping table nyseslat_annual
trying to join ela4_subgroup
trying to join beds_day_enrollment_by
trying to join math3_subgroup
trying to join math6_subgroup
trying to join math5_subgroup
skipping table regents_competency_test_rct
trying to join staff
trying to join ela8_subgroup
trying to join ela7_subgroup
trying to join total_cohort_graduation_rate
trying to join high_school_postgraduation_plans
trying to join beds_day_enrollment
trying to join math4_subgroup
trying to join demographic_factors
trying to join high_school_completers
skipping table regents_common_core_examination
skipping table recently_arrived_ell_students
trying to join ela6_subgroup
trying to join science4_subgroup
trying to join ela3_subgroup
trying to join total_cohort_ela_subgroup
trying to join total_cohort_science_subgroup
trying to join high_school_noncompleters
trying to join total_cohort_math_subgroup
all tables joined!

In [44]:
nys_denormalized.columns

Index(['ENTITY_CD', 'ENTITY_NAME', 'YEAR', 'NUM_TESTED', 'LEVEL1_COUNT',
       'LEVEL1_%TESTED', 'LEVEL2_COUNT', 'LEVEL2_%TESTED', 'LEVEL3_COUNT',
       'LEVEL3_%TESTED',
       ...
       'LEVEL1_COUNT_total_cohort_math_subgroup',
       'LEVEL1_%COHORT_total_cohort_math_subgroup',
       'LEVEL2_COUNT_total_cohort_math_subgroup',
       'LEVEL2_%COHORT_total_cohort_math_subgroup',
       'LEVEL3_COUNT_total_cohort_math_subgroup',
       'LEVEL3_%COHORT_total_cohort_math_subgroup',
       'LEVEL4_COUNT_total_cohort_math_subgroup',
       'LEVEL4_%COHORT_total_cohort_math_subgroup',
       'NOT_TESTED_total_cohort_math_subgroup',
       'NOT_TESTED_%COHORT_total_cohort_math_subgroup'],
      dtype='object', length=375)

In [78]:
#nys_denormalized['ENTITY_NAME'].value_counts().head(5)

nys_denormalized[nys_denormalized['ENTITY_NAME'] == 'JOHN F KENNEDY MIDDLE SCHOOL'].to_csv('tmp.csv')

## Done with NYS, Now switching to NJ
- note: skipped all regents & accountability #s for NY, may come back to them
- also didn't us NY grad rate data, assume it's in the report card data as well.
- also didn't use NYC stats

In [46]:
# nj tables
nj_tables = [x for x in os.listdir('../prepared_data/') if x.find('nj_') > -1]

In [112]:
# re-define function to generate a shortname from tablename:
def shortname(s, kind ='nys'):
    if kind == 'nys':
        _ = s.lower()
        strings_to_replace= ['(',')','&','-','nys_reportcard_','.csv','results']
        for st in strings_to_replace:
            _ = _.replace(st, '')
        _ = '_'.join(_.split('_')[:4])
        if _[-1] == '_':
            _ = _[:-1]
        return _
    elif kind == 'nj':
        strings_to_replace= ['nj_','.csv']
        for st in strings_to_replace:
            s = s.replace(st, '')
        return s

# Set nulls in cells with odd ways of saying that they don't have data
def force_to_numeric_with_nulls(series, values_to_set_to_null):
    _ = series
    for v in values_to_set_to_null:
        _ = _.replace(v, np.nan)
    return pd.to_numeric(_)

In [130]:
if 'nj_denormalized' in vars():
    del nj_denormalized

tables_to_skip = [
    'SchoolHeader',
    'EnrollmentTrendsByStudentGroup',
    'EnrollmentByRacialEthnicGroup',
    'EnrollmentByHomeLanguage',
    'AlternateAssessmentParticipatio',
    'EnglishLanguageProficiencyTest',
    'NJASKScience',
    'StudentGrowth',
    'StudentGrowthByPerformLevel',
    'StudentGrowthByGrade',
    'CTE_SLEParticipation',
    'APIBCourseworkPartPerf',
    'IndustryValuedCredentialsEarned',
    'MathCourseParticipation',
    'ScienceCourseParticipation',
    'SocStudiesHistoryCourseParticip',
    'WorldLanguagesCourseParticipati',
    'VisualAndPerformingArts',
    'StudentGrowthByPerformLevel',
    'GraduationRateTrends',
    'DropoutRateTrends',
    'ChronicAbsenteeism',
    'DaysAbsent',
    'ChronicAbsByGrade',
    'SchoolDay',
    'ViolenceVandalismHIBSubstanceOf',
    'StudentExpulsions',
    'PerPupilExpenditures',
    'TeachersExperienceCertification',
    'AdministratorsExperience',
    'StudentToStaffRatios',
    'TeachersAdminsLevelOfEducation',
    'TeachersAdminsOneYearRetention',
    'FacultyAttendance',
    'AccountabilityIndicator',
    'AccountabilitySummary',
    'StudentGrowthByPerformLevel',
    'Biology'
]

tables_just_need_pivoting = [
    'PreKAndK-FullDayHalfDay',
    'EnrollmentTrendsFullSharedTime',
    'EnrollmentTrendsByGrade'
]

# init with school names
nj_denormalized = pd.read_csv('../prepared_data/nj_SchoolHeader.csv')
nj_denormalized.rename(columns={
    'COUNTY_CODE': 'County Code',
    'DISTRICT_CODE': 'District Code',
    'SCHOOL_CODE': 'School Code'
}, inplace=True)

for t in nj_tables:
    pivot_flag = False
    table_shortname = shortname(t, 'nj')
    if list_contains(tables_just_need_pivoting, table_shortname):
        pivot_flag = True
    _df = pd.read_csv('../prepared_data/' + t)
    _df.rename( columns={
        'StudentGroup': 'Student Group', 
        'CountyCode': 'County Code',
        'DistrictCode': 'District Code',
        'SchoolCode': 'School Code',
        'Student_Group': 'Student Group', 
        'County_Code': 'County Code',
        'District_Code': 'District Code',
        'School_Code': 'School Code',
        'COUNTY_CODE': 'County Code',
        'DISTRICT_CODE': 'District Code',
        'SCHOOL_CODE': 'School Code',
        'MeanScore': 'Mean Score',
        'Mean_Score': 'Mean Score',
        'SchoolPerformance': 'School Performance',
        'School_Performance': 'School Performance',
        'Grade_Subject': 'Grade Subject',
        'Course_Name': 'Course Name',
        'School_Avg': 'School Avg'
    }, inplace=True)
    
    # logic to filter down to schoolwide performance
    if _df.columns.contains('Student Group'):
        _df = _df[_df['Student Group']=='Schoolwide']
        _df.drop('Student Group', axis=1, inplace=True)
    
    # table-specific logic
    if table_shortname[-20:] == 'ParticipationPerform':
        _df = _df[['County Code','District Code','School Code', 'Subject', 'School Performance']]
        _df['School Performance'] = force_to_numeric_with_nulls(_df['School Performance'], ['N','*'])
        pivot_flag = True
    
    if table_shortname[-18:] == 'PerformanceByGrade':
        _df = _df[['County Code','District Code','School Code', 'Grade', 'Mean Score']]
        _df['Mean Score'] = force_to_numeric_with_nulls(_df['Mean Score'], ['N','*'])
        pivot_flag = True
        
    if table_shortname[-17:] =='PerformanceTrends':
        _df = _df[['County Code','District Code','School Code', 'Grade Subject', 'MetExcExpPerc']]
        _df['MetExcExpPerc'] = force_to_numeric_with_nulls(_df['MetExcExpPerc'], ['N','*'])
        pivot_flag = True
        
    if table_shortname == 'PSAT-SAT-ACTPerformance':
        _df['Test Subject'] = _df[['Test', 'Subject']].apply(lambda x: x[0] + ' - ' + x[1], axis = 1)
        _df = _df[['County Code','District Code','School Code', 'Test Subject', 'School Avg']]
        _df['School Avg'] = force_to_numeric_with_nulls(_df['School Avg'], ['N', '*'])
        pivot_flag = True
        
    if table_shortname == 'GraduationRates':
        _df = _df[['County Code','District Code','School Code',  
                   'School-Class of 2017: 4-Year Rate','School-Class of 2016: 5-Year Rate']]
        
    if table_shortname == 'PostsecondaryEnrRatesFall':
        _df = _df[['County Code','District Code','School Code', 'EnrolledPercent','Enrolled2Yr','Enrolled4Yr']]
        
    if table_shortname == 'APIBCoursesOffered':
        _df = _df[
            ['County Code','District Code','School Code', 'Course Name']
        ][_df['STUDENT_ENROLL_COUNT'] >0].groupby(
            ['County Code','District Code','School Code']
        ).count().reset_index()
    
    if table_shortname == 'MathPerformanceByGradeTest':
        _df = _df[['County Code','District Code','School Code','Grade', 'Mean Score']]
        _df['Mean Score'] = force_to_numeric_with_nulls(_df['Mean Score'], ['N', '*'])
        pivot_flag = True
    # logic to unstack common table pattern:
    if pivot_flag:
        pivot_by = _df.columns[3]
        value_by = _df.columns[4]
        _df = _df.pivot_table(
            values = value_by, 
            index = ['County Code','District Code','School Code'], 
            columns=[pivot_by]
        ).reset_index()

    # data cleaning for all tables
    _df.drop_duplicates(inplace=True)
    
    # table skipping
    if list_contains(tables_to_skip, table_shortname):
        print('skipping table ' + table_shortname)
    else:
        print('trying to join ' + table_shortname )
        _tmp = nj_denormalized.merge(
            right = _df, 
            how = 'outer',
            on = ['County Code','District Code','School Code'],
            suffixes = ['', '_' + table_shortname]
        )
        nj_denormalized = _tmp
    del _df
print('all tables joined!')

skipping table StudentGrowthByPerformLevel
trying to join PostsecondaryEnrRatesFall
skipping table MathCourseParticipation
trying to join PSAT-SAT-ACTParticipation
skipping table DropoutRateTrends
skipping table APIBCourseworkPartPerf
trying to join TechnologyReadiness
skipping table EnglishLanguageProficiencyTest
trying to join ELALiteracyPerformanceByGrade
skipping table ViolenceVandalismHIBSubstanceOf
skipping table SocStudiesHistoryCourseParticip
skipping table TeachersAdminsLevelOfEducation
trying to join EnrollmentTrendsByGrade
skipping table EnrollmentByHomeLanguage
trying to join ELALiteracyParticipationPerform
skipping table CTE_SLEParticipation
trying to join StudentSuspensionRates
skipping table EnrollmentTrendsByStudentGroup
trying to join Narrative
skipping table VisualAndPerformingArts
skipping table AccountabilitySummary
skipping table ChronicAbsByGrade
trying to join APIBCoursesOffered
skipping table TeachersExperienceCertification
skipping table IndustryValuedCredentialsEarned
skipping table FacultyAttendance
trying to join PreKAndK-FullDayHalfDay
skipping table AccountabilityIndicator
skipping table NJASKScience
trying to join PSAT-SAT-ACTPerformance
skipping table DaysAbsent
skipping table TeachersAdminsOneYearRetention
trying to join MathParticipationPerform
skipping table PerPupilExpenditures
trying to join ELAPerformanceTrends
skipping table StudentGrowthByGrade
skipping table AdministratorsExperience
skipping table StudentExpulsions
skipping table StudentGrowth
skipping table ScienceCourseParticipation
skipping table EnrollmentByRacialEthnicGroup
skipping table SchoolHeader
skipping table StudentToStaffRatios
skipping table GraduationRateTrends
trying to join MathPerformanceByGradeTest
skipping table ChronicAbsenteeism
skipping table WorldLanguagesCourseParticipati
skipping table AlternateAssessmentParticipatio
skipping table SchoolDay
trying to join GraduationRates
trying to join EnrollmentTrendsFullSharedTime
trying to join MathPerformanceTrends
skipping table Biology
trying to join PostsecondaryEnrRates16mos
all tables joined!

In [139]:
# write tables for the next job: joining common fields
nys_denormalized.to_csv('../prepared_data/denormalized_newyork.csv')
nj_denormalized.to_csv('../prepared_data/denormalized_newjersey.csv')